body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  
}
.layoutGeneral{
display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: darkolivegreen;
  margin-bottom: 10px;
}
.layoutGeneral h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
size: 20;
color: beige;
}
.layoutGeneral button{
width: 150px;
background-color: beige;
transition: transform 0.5s;
}
.layoutGeneral button:hover{
   transform: scale(1.1);
  cursor: pointer;
}
.generalPagina{
   min-height: 100vh;
  padding: 40px 20px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  margin:10px;
  color:rgb(0, 0, 0)
}
.filtros button{
  width: 150px;
background-color: beige;
transition: transform 0.5s;
cursor: pointer;
}